body {
  background-image: url(./assets/IMG_0473.jpg);
  border-width: 100%;
}

.gallery {
  background-image: url(./assets/blackwhitepolkaadotglow.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-attachment: fixed; */
  width: 400px;
  height: 600px;
}

.choreography {
  background-image: url(./assets/Lisamarie4fade.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 400px;
  height: 600px;
}

.press {
  /* margin-top: 20px; */
  background-image: url(./assets/Reviewbackground3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: relative; 
  width: 800px;
  height: 700px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "matura-mt-script-capitals-cufonfonts";
  src: url(assets/MATURASC_1.TTF);
}

h1 {
  color: #ffff66;
  text-align: left;
  font-family: "matura-mt-script-capitals-cufonfonts";
  font-style: italic;
  margin-top: 30px;
}

h1 em {
font-size: 125%;
 color: #ffff66;
 text-align: left;

}

h5 {
    text-align: center;
    margin-left: 70px;
    color: white}

  .navv {
    background-color: rgb(217, 83, 79, 0.4);
    margin-bottom: 40px;
    
  }
  
  .alertyellow 
  {
    color: #ffff66;
  }
 
  .larger {
    font-size: 120%;
  }

  a:link {
    color: rgb(240, 173, 78);
  }

  a:visited {
    color: rgb(240, 173, 78);
  }


   a:hover {
    background-color: #ffff66;
  }

  a:active {
    color: rgb(240, 173, 78);
  }

 #alert {
   padding: 0;
   margin-bottom: -10px;
 } 
    
   