* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #background {
  padding: 0;
  margin-left: 50%;
  float: right;
} */

@import url("https://unpkg.com/css.gg@2.0.0/icons/css/close.css");

.centered {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: -1rem auto;
  justify-content: center;
}

.carousel-item > img {
  width: 100%;
}

.hamburger {
  margin-left: 5rem;
}

.gg-close-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 4px;
}

/* .gg-close-r::after,
.gg-close-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}

.gg-close-r::after {
  transform: rotate(-45deg);
} */

body {
  background-image: url(./IMG_0473.jpg);
  background-color: 882021;
  /* border-width: 100%;
  margin: 0px;
  padding: 0; */
  transition: 0.5s;
  /* filter: brightness(1); */
}

body:hover {
  filter: brightness(1);
  transform: translateZ(300px);
}

.press {
  /* margin-top: 20px; */
  background-image: url(./assets/Reviewbackground3.png);
  background-repeat: no-repeat;
  background-position: 50% -20%;
  width: 100%;
  height: 750px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "matura-mt-script-capitals-cufonfonts";
  src: url(./AnyConv.com__MATURASC_1.woff);
  font-display: auto;
}

h1,
h2 {
  text-align: center;
  font-family: "matura-mt-script-capitals-cufonfonts";
  font-style: italic;
  margin-top: 1rem;
  padding-bottom: 0px;
  margin-bottom: 0.75rem;
  color: #ffff66;
}

.home {
  margin-top: 3rem;
  /*padding-bottom: 0px;
  text-align: center;*/
  animation-name: moveInRight;
  animation-duration: 9s;
  color: #ffff66;
}

.opening {
  margin-top: -10px;
  line-height: 98%;
  text-align: right;
  animation-name: moveInLeft;
  animation-duration: 5s;
}

h1 em {
  font-size: 3.2rem;
  padding-bottom: 0.1rem;

  color: #ffff66;
  text-align: left;
  animation-name: moveInLeft;
  animation-duration: 5s;
}

h5,
h6 {
  animation-name: moveInLeft;
  animation-duration: 5s;
}

h4 {
  color: #ffff66;

  animation-name: moveInLeft;
  animation-duration: 5s;
}

.navv {
  background-color: rgb(217, 83, 79, 0.4);
  margin-bottom: 10px;
  width: 100% !important;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
}

Nav .container {
  /* display: flex;
  justify-content: flex-end; */
  margin-right: 0;
  padding-right: 0;
  animation: moveInButton 0.75s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.navv::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.navv {
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#navbarBrand {
  margin-left: 1rem;
}

#navbarBrand:hover {
  background-color: #fdfdaf;
}

.alertyellow {
  color: #ffff66;
}

.scroll {
  .scroll {
    min-height: 100%;
    overflow: scroll;
  }
}

.larger {
  font-size: 1.2rem;
  animation-name: moveInRight;
  animation-duration: 5s;
}
.smaller {
  font-size: 1rem;
  animation-name: moveInRight;
  animation-duration: 5s;
}
.larger_mod {
  font-size: 120%;
  animation-name: moveInRight_mod;
  animation-duration: 10s;
}
a {
  -webkit-transition: color 3s;
  transition: color 3s;
}

a:hover {
  color: #ffff66;
}
.press {
  color: whitesmoke;
}
.press:hover {
  color: #ffff66;
}
.btnTransform:link,
.btnTransform:visited {
  color: rgb(240, 173, 78);
  transition: all 0.2;
  position: relative;
  border-radius: 10rem;
}

.btnTransform:hover,
.imgTransform:hover {
  background: rgba(241, 102, 98, 0.2);
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnTransform:hover::after,
.imgTransform:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background-color: #ffff66;
}

.btnTransform::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.imgTransform::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  border-radius: 0rem;
}

.btnTransform:active,
.imgTransform:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

#alert {
  padding: 0;
  margin-bottom: -10px;
}

#spin {
  animation-name: moveInLeft;
  animation-duration: 5s;
}

img.rotateImg {
  animation-name: moveInLeft;
  animation-duration: 5s;
}

img {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
img.item {
  transition: 0.5s;
  filter: brightness(0.7);

  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
img.item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}

.bio em {
  font-weight: bold;
  font-size: 120%;
}

.bio .events {
  animation-name: moveFromTop;
  animation-duration: 5s;
  padding-right: 0;
  margin-right: 0;
  overflow: hidden;
}
.bio {
  animation-name: moveFromTop;
  animation-duration: 5s;
}

#lisaImage {
  height: 25px;
}

#anniversary {
  animation-name: moveFromTop;
  animation-duration: 8s;
  background-image: url(./IMG_0473darker.jpg);
  border-radius: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px) rotate(180deg);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.modal-title {
  text-align: center;
}

.events {
  width: 75%;
}

.modal-open {
  overflow: auto;
}
.modal-content {
  background-color: hsl(0, 89%, 48%);
}

@media screen and (max-width: 580px) {
  h1 em {
    margin-top: 0px;
  }
  .navv {
    display: block;
    max-width: 100vw;
  }
  .larger {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #noscroll::-webkit-scrollbar {
    display: none;
  }
  #anniversary {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .events {
    width: 75%;
  }
  #alert {
    margin-left: 1rem;
    padding-right: 1rem;
  }
  .container-fluid img {
    max-width: 100dvw;
  }
  .studentPhotos {
    max-width: 100vw;
  }
  .background {
    max-width: 99vw;
  }
  #cover {
    padding: 0;
    margin: 0;
    height: 70vh;
  }
  .home {
    margin-top: 1rem;
  }
  .btnTransform {
    margin-left: 3rem;
  }
}

@keyframes moveInRight_mod {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.fade-in-image {
  animation: fadeIn 15s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  25% {
    transform: rotate(-10deg);
  }
}
/*try rottat effect also*/

.text-light .video-animate {
  animation-name: moveInLeft;
  animation-duration: 10s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 10s;
}

p.lineStyle {
  line-height: 1.5;
}

.background-animation {
  animation: moveInButton 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}
